// colors
$white: #fff;
$grey: #989898;
$lightGrey: #ebebeb;
$backgroundGrey: #b6bfc451;
$primaryColor: #212529;
$secondColor: #f8f9fa;
$secondaryColor: #445162;
$textColor: #3333;

// fonts
$mainFont: Arial, sans-serif;
$iconFont: "socialico";

// screens
$tablet: "min-width: 768px";
$desktop: "min-width: 1024px";
$projector: "min-width: 1200px";

// shadows
$mainShadow: 0.5px 0.9px 0 rgb(0, 0, 0, 0.3);
